.education-section {
  min-height: 100vh;
  padding: 100px 30px;
  background: linear-gradient(
    135deg,
    #020617,
    #0f172a,
    #1e3a8a
  );
}

.education-header {
  text-align: center;
  margin-bottom: 80px;
}

.education-header h1 {
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.education-header p {
  max-width: 700px;
  margin: auto;
  color: #cbd5e1;
  line-height: 1.8;
  font-size: 18px;
}

.roadmap {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.roadmap::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 4px;

  background: linear-gradient(
    #3b82f6,
    #8b5cf6
  );

  transform: translateX(-50%);
}

.edu-card {
  width: 46%;
  position: relative;
  margin-bottom: 60px;
}

.edu-card.left {
  margin-right: auto;
}

.edu-card.right {
  margin-left: auto;
}

.edu-content {
  background: rgba(255,255,255,0.05);

  backdrop-filter: blur(12px);

  border: 1px solid rgba(255,255,255,0.08);

  border-radius: 24px;

  padding: 30px;

  transition: 0.3s ease;
}

.edu-content:hover {
  transform: translateY(-8px);

  border-color: #3b82f6;

  box-shadow:
    0 0 30px rgba(59,130,246,0.25);
}

.edu-icon {
  position: absolute;

  top: 35px;

  width: 60px;
  height: 60px;

  border-radius: 50%;

  background: linear-gradient(
    135deg,
    #3b82f6,
    #8b5cf6
  );

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 24px;
}

.left .edu-icon {
  right: -90px;
}

.right .edu-icon {
  left: -90px;
}

.year-badge {
  display: inline-block;

  padding: 8px 16px;

  border-radius: 50px;

  background: rgba(59,130,246,.15);

  color: #60a5fa;

  margin-bottom: 15px;

  font-weight: 600;
}

.edu-content h2 {
  color: white;
  margin-bottom: 10px;
  font-size: 1.6rem;
}

.edu-content h3 {
  color: #3b82f6;
  margin-bottom: 15px;
}

.score-badge {
  display: inline-block;

  padding: 8px 18px;

  border-radius: 50px;

  background: rgba(16,185,129,.15);

  color: #10b981;

  font-weight: 600;

  margin-bottom: 15px;
}

.location {
  display: flex;
  align-items: center;
  gap: 10px;

  color: #cbd5e1;

  margin-bottom: 15px;
}

.edu-content p {
  color: #cbd5e1;
  line-height: 1.8;
}

@media (max-width: 900px) {

  .roadmap::before {
    left: 25px;
  }

  .edu-card {
    width: calc(100% - 70px);
    margin-left: 70px;
  }

  .edu-card.left,
  .edu-card.right {
    margin-right: 0;
    margin-left: 70px;
  }

  .left .edu-icon,
  .right .edu-icon {
    left: -60px;
    right: auto;
  }
}

@media (max-width: 768px) {

  .education-section {
    padding: 80px 20px;
  }

  .education-header h1 {
    font-size: 3rem;
  }

  .edu-content {
    padding: 20px;
  }

  .edu-content h2 {
    font-size: 1.3rem;
  }
}